@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
  border-color: var(--bs-primary);
  background-color: var(--bs-primary);
  font-weight: 600;
}
.btn.btn-primary:hover:not(.btn-active){
  color: #fff;
  border-color: #04b440;
  background-color: #04b440 !important;
}
.btn.btn-active-light-primary:hover:not(.btn-active){
  background-color: #dfffea !important;
  color: var(--bs-primary);
}

button.btn.btn-danger {
  color: #fff;
  background-color: #f8285a;
  border: 1px solid #f8285a;
}
button.btn.btn-danger:hover{
  color: #fff;
  background-color: #f8285a;
  border: 1px solid #f8285a;
  opacity: 0.8;
}

.card-toolbar{
  .btn-light-primary{
    background: #dfffea;
    &:hover{
      color: #fff !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.signin-screen {
  height: 100vh;
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  align-items: center;
    background-color: var(--bs-primary) !important;
  h1{
    font-size: 30px;
  }
  .btn{
    &.btn-primary{
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      &:hover{
        background: #17c653 !important;
        color: #fff !important;
        opacity: 0.8;
      }
    }
  }
}


.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}
.check-icon svg {
  color: #17c653 !important;
}
.menu-item .menu-content {
  border-bottom: 1px solid #dbdfe9;
}
.badge-light-success {
  background-color: #e9f3ff;
}
.search-field{
  svg{
    color: #99a1b7;
    font-size: 14px;
    margin-left: 10px;
  }
  input {
    padding-left: 30px !important;
    box-shadow: none !important;
  }
}
/* Custom light badges (if needed) */
.badge-light-success {
  background-color: #d4edda;
  color: #155724;
}

.badge-light-danger {
  background-color: #f8d7da;
  color: #721c24;
}
.content-section {
  min-height: calc(100vh - 145px);
}
.main-screen {
  display: flex;
  .main-content {
      margin-left: 280px;
      width: calc(100% - 280px);
      transition: margin-left 0.2s;
      &.collapsed {
          margin-left: 80px;
          transition: margin-left 0.5s;
        }
    }
}

.card{
  .card-header, .card-body{
    padding: 0;
  }
}
